{% extends "mystore/base.html" %}
{% load mystore_tags %}

<!DOCTYPE html>
{% block title %}{{ order.order }}{% endblock %}
{% block content %}
<h2>Pedido: 0{{ order.id }}</h2>
<h3>Cliente: {{ order.client}}</h3>
<h3>Fecha: {{ order.created}}</h3>
<br>
<table>
    <tr>
        <th>Producto</th>
        <th>Precio(unidad)</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Pendiente</th>
        <th>Remover</th>
        <th></th>
    </tr>
    {%for item_order in order.qty_set.all%}
    <tr>
        <td>{{item_order.item.type}} {{item_order.item.name}} T:{{item_order.item.size}} </td>
        <td>{{item_order.item.price}}</td>
        <td>{{ item_order.quantity }}</td>
        <td>{{item_order.add_same_items}}</td>
        <td>{{ item_order.pending }} </td>
        <td><a href="{% url 'mystore:item_removed' order.id item_order.id %}">Quitar</a></td>
        <td><a href="{% url 'mystore:item_dispatch' order.id item_order.id item_order.pending %}">entregado</a></td>
    </tr>
    {% endfor%}
</table>
<p>Total = {{ order.add_all_items}}</p>
<div>
    <h2>Agregar producto a la orden</h2>
    {% if institution %}
        <p>Flltro: {{ institution }}</p>
        <a href="{% url 'mystore:detail' order.id %}">limpiar filtro</a>
    {% else %}
        <form action="{% url 'mystore:detail' order.id %}" method="post">
            {% csrf_token %}
            <label for="inst">Colegio</label>
            <select id="inst" name="inst">
                {% all_institutions %}
            </select>
            <label for="size">size</label>
            <select id="size" name="size">
                {% all_sizes %}
            </select>
            <input type="submit" value="filtrar">
        </form>
    {% endif %}
</div>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add items"></p>
</form>
<a href="{% url 'mystore:index' %}"> volver a inicio</a>
{% endblock %}