{% extends "mystore/base.html" %}
{% load mystore_tags %}

<!DOCTYPE html>
{% block title %}Pedido {{ order.id }}{% endblock %}
{% block content %}

<table class="table table-bordered table-sm">
    <thead>
        <tr class="d-flex">
            <th class="col-1">Pedido</th>
            <th class="col-2">Cliente</th>
            <th class="col-2">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr class="d-flex">
            <td class="col-sm-1">{{ order.id }}</td>
            <td class="col-sm-2">{{ order.client}}</td>
            <td class="col-sm-2">{{ order.created|date:"d - m - Y"}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped text-center">
    <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio(u)</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Remover</th>
        <th scope="col" colspan="2">Estado</th>
    </tr>
    {%for item_order in order_items_qty %}
    <tr>
        <td>{{item_order.item.institution}} {{item_order.item.type}} {{item_order.item.name}} T:{{item_order.item.size}} </td>
        <td>${{item_order.item.price}}</td>
        <td>{{ item_order.quantity }}</td>
        <td>${{item_order.add_same_items}}</td>
        <td><a href="{% url 'mystore:item_removed' order.id institution size item_order.id %}"
        class="btn btn-danger">Quitar</a></td>
        <td>
            {{ item_order.pending }}
            <a href="{% url 'mystore:items_pending' order.id institution size item_order.id item_order.pending %}"
            class="btn btn-secondary btn-sm"> PENDIENTE</a>
        </td>
        <td>
            {{ item_order.get_dispatched_items }}
            <a href="{% url 'mystore:item_dispatch' order.id institution size item_order.id item_order.pending %}"
            class="btn btn-secondary btn-sm"> ENTREGADO</a>
        </td>
    </tr>
    {% endfor%}
</table>
<div>
<h2 class="font-weight-bold text-right mr-3">Total = ${{ order.add_all_items}}</h2>
</div>
<div>
    {% if order.confirmed  == False %}
    <h3>Agregar producto al pedido</h3>
    {% if institution %}
        <span class="badge badge-info">Flltro: {{ institution }}, Talla: {{ size }} </span>
        <a href="{% url 'mystore:detail' order.id %}" class="btn btn-outline-primary btn-sm">Quitar Filtro</a>
        <form action="{% url 'mystore:size' order.id institution size %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Agregar producto"></p>
        </form>
    {% else %}
        <form action="{% url 'mystore:size' order.id institution size %}" method="post">
            {% csrf_token %}
            <label for="inst">Colegio: </label>
            <select id="inst" name="inst">
                {% all_institutions %}
            </select>
            <label for="size">Talla: </label>
            <select id="size" name="size">
                {% all_sizes %}
            </select>
            <input type="submit" class="btn btn-outline-primary btn-sm" value="filtrar">
        </form>
    {% endif %}
</div>

<section id="confirmation" class="text-right">
    <a href="{% url 'mystore:confirmation' order.id %}" class="btn btn-primary" >Confirmar</a>
</section>
{% else %}
<p>Pedido no se puede modificar porque ya ha sido confirmado. </p>
{% endif %}
{% endblock %}