{% extends "mystore/base.html" %}
{% load static %}

{% block title %}Margitex{% endblock %}
{% block content %}
    {% if orders %}
        <form class="form-inline"  action="." method="get">
            <div class="form-group mb-2">
                {{ form.as_table }}
                <input type="submit" class="btn btn-outline-primary " value="Buscar" >
                <a href=" {% url 'mystore:index' %}" class="btn btn-outline-primary"> mostrar todos</a>
            </div>
        </form>

        <a class="btn btn-primary btn-lg btn-block font-weight-bold" href="{% url 'mystore:add_order' %}">Agregar Pedido</a>
    <h2>Lista de pedidos</h2>
            <ul>
        {% for order in orders %}
            <div class="card">
                <h5 class="card-header">Pedido: {{ order.id }}</h5>
                <div class="card-body">
                <li><a .card-link href="{% url 'mystore:detail' order.id  %}">{{ order.id }}</a></li>
                <p>{{ order.client}} - Entrega: {{ order.due_date|date:"d - m - Y"}} </p>
                <span class="badge badge-pill badge-primary">{{order.order}}</span>
                <a .card-link href="{% url 'mystore:order_update' order.id %}" class="btn btn-outline-primary btn-sm"> actualizar</a>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ningun pedido ha sido agregado</p>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'mystore:add_order' %}"> agregar pedido</a>
    {% endif %}
        <div id="pagination">
            {% include "pagination.html" with page=orders %}
        </div>
{% endblock %}
