{% extends "mystore/base.html" %}
{% load static %}

{% block title %}Margitex{% endblock %}
{% block content %}
    {% if orders %}
    <h1>Lista de pedidos</h1>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'mystore:add_order' %}"> agregar pedido</a>
        <ul>
        {% for order in orders %}
            <div class="card">
                <h5 class="card-header">Pedido: {{ order.id }}</h5>
                <div class="card-body">
                <li><a .card-link href="{% url 'mystore:detail' order.id  %}">{{ order.id }}</a></li>
                <p>{{ order.client}} - Entrega: {{ order.due_date|date:"d - m - Y"}} </p>
                <span class="badge badge-pill badge-primary">{{order.order}}</span>
                <a .card-link href="{% url 'mystore:order_update' order.id %}"> actualizar</a>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ningun pedido ha sido agregado</p>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'mystore:add_order' %}"> agregar pedido</a>
    {% endif %}
        <div id="pagination">
            {% include "pagination.html" with page=page_obj %}
        </div>
{% endblock %}
