{% extends "mystore/base.html" %}
{% load static %}

{% block title %}Margitex{% endblock %}
{% block content %}
    {% if latest_order_list %}
        <h1>Lista de pedidos</h1>
        <ul>
        {% for order in latest_order_list %}
            <li><a href="{% url 'mystore:detail' order.id  %}">{{ order.order }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ningun pedido ha sido agregado</p>
    {% endif %}
    <a href="{% url 'mystore:add_order' %}"> agregar pedido</a>
{% endblock %}