{% extends "mystore/base.html" %}
{% load static %}

{% block title %}Productos{% endblock %}
{% block content %}
    {% if products %}

<h2>Lista de productos</h2>
<ul>
    <div class="row">

    {% for item in products %}
 <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">{{ item.name|title }}  {{ item.size}} - {{ item.institution.name }}</h5>
                <div class="card-title">
                    <ul class="list-group">
                        <li class="list-group-item">Cantidad en inventario: {{ item.quantity }}  -
                            Cantidad apartada: {{item.quantity_ordered }}</li>
                        <li class="list-group-item"><h3>Cantidad necesitada: {{ item.quantity_needed }}</h3></li>
                    </ul>
                    <span class="badge badge-pill badge-primary">{{ item.code }}</span>
                </div>
            </div>
     </div>
    {% endfor %}
        </div>
</ul>
    {% else %}
        <p>Ningun producto ha sido agregado</p>
     {% endif %}
        <div id="pagination">
            {% include "pagination.html" with page=page_obj %}
        </div>
{% endblock %}