{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'mystore/style.css' %}" rel="stylesheet">
		<script src="{% static 'mystore/js/printing.js' %}" ></script>
		<script src="{% static 'mystore/js/bootstrap.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="{% static 'mystore/js/bootstrap.min.js' %}" ></script>
    </head>
<body>
<div id="printableArea">
<div id="invoice-POS">

    <center id="top">
      <div class="logo"></div>
      <div class="info">
        <h1>MARGITEX</h1>
		   <h2>Martha Romero</h2>
      </div><!--End Info-->
    </center><!--End InvoiceTop-->

    <div id="mid">
      <div class="info">

        <p>
            Dirección : Transversal 12<br>
            Email   : JohnDoe@gmail.com<br>
            telefono   : 555-555-5555<br>
        </p>
      </div>
    </div><!--End Invoice Mid-->
    <div class="bot">
						<table>
							<tr>
								<th width="200" height="20"><p style="font-size:14px;">Producto </p></th>
								<th width="50" height="20"><p style="font-size:14px;">Cantidad</p></th>
								<th width="100" height="20"><p style="font-size:14px;">SubTotal</p></th>
							</tr>
							{%for item_order in order.qty_set.all%}
							<tr>
								<td width="200" height="20"><p style="font-size:10px;">{{item_order.item.code}}</p></td>
								<td width="50" height="20"><p style="font-size:12px;text-align:center">{{item_order.quantity }} / P{{item_order.pending}}</p></td>
								<td width="100" height="20"><p style="font-size:12px;">${{item_order.add_same_items}}</p></td>
							</tr>
							{% endfor %}
						</table>
						<br>
						<table>
							<tr>
								<td width="100" height="10"></td>
								<td width="50" height="10"><h2>Total</h2></td>
								<td width="80" height="10"><h2>${{ order.add_all_items}}</h2></td>
							</tr>
							<tr>
								<td width="100" height="10"></td>
								<td width="50" height="10"><h2>Abono</h2></td>
								<td width="80" height="10"><h2>${{ order.paid}}</h2></td>
							</tr>
							<tr>
								<td width="100" height="10"></td>
								<td width="50" height="10"><h2>SALDO</h2></td>
								<td width="80" height="10"><p style="font-size:14px;">${{ order.debt}}</p></td>
							</tr>

						</table>
	</div>

					<div id="legalcopy">
						<p class="legal"><strong>Gracias por su compra</strong>Por favor conserve este recibo.</p>
					</div>

</div>

  </div><!--End Invoice-->
<section style="text-align:right">
	<input type="button" onclick="printDiv('printableArea')" value="imprimir" />
</section>
<div>
	<a href="{% url 'mystore:order_update' order.id %}" class="btn btn-outline-primary btn-sm">Volver</a>
</div>

</body>
</html>