{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'mystore/style.css' %}" rel="stylesheet">
		<script src="{% static 'mystore/js/printing.js' %}" ></script>
    </head>
<body>
<div id="printableArea">
<div id="invoice-POS">

    <center id="top">
      <div class="logo"></div>
      <div class="info">
        <h1>MARGITEX</h1>
		   <h2>Martha Romero</h2>
      </div><!--End Info-->
    </center><!--End InvoiceTop-->

    <div id="mid">
      <div class="info">

        <p>
            Dirección : Transversal 12</br>
            Email   : JohnDoe@gmail.com</br>
            telefono   : 555-555-5555</br>
        </p>
      </div>
    </div><!--End Invoice Mid-->

    <div class="bot">
						<table>
							<tr>
								<td width="200" height="20"><p style="font-size:14px;">Producto </p></td>
								<td width="50" height="20"><p style="font-size:14px;">Cantidad</p></td>
								<td width="100" height="20"><p style="font-size:14px;">SubTotal</p></td>
							</tr>
							{%for item_order in order.qty_set.all%}
							<tr>
								<td width="200" height="20"><p style="font-size:10px;">{{item_order.item.code}}</p></td>
								<td width="50" height="20"><p style="font-size:12px;text-align:center">{{item_order.quantity }}</p></td>
								<td width="100" height="20"><p style="font-size:12px;">${{item_order.add_same_items}}</p></td>
							</tr>
							{% endfor %}
							<tr>
								<td width="50" height="10"></td>
								<td width="50" height="10"><h3>IVA</h3></td>
								<td width="50" height="10"><h3>${{ tax }}</h3></td>
							</tr>
							<tr>
								<td width="50" height="10"></td>
								<td width="50" height="10"><h3>Total</h3></td>
								<td width="50" height="10"><h3>${{ order.add_all_items}}</h3></td>
							</tr>
							<tr>
								<td width="50" height="10"></td>
								<td width="50" height="10"><h3>Abono</h3></td>
								<td width="50" height="10"><h3>${{ order.paid}}</h3></td>
							</tr>
							<tr>
								<td width="50" height="10"></td>
								<td width="50" height="10"><h2>A pagar</h2></td>
								<td width="50" height="10"><p style="font-size:14px;">${{ order.debt}}</p></td>
							</tr>

						</table>
	</div>

					<div id="legalcopy">
						<p class="legal"><strong>Gracias por su compra</strong> 	Por favor conserve este recibo.</p>
					</div>

</div>

  </div><!--End Invoice-->
<section style="text-align:right">
	<input type="button" onclick="printDiv('printableArea')" value="imprimir" />
</section>

</body>
</html>