{% extends "mystore/base.html" %}
{% load static %}

{% block title %}Share a post{% endblock %}
{% block content %}
{% if sent %}
    <h1>E-mail enviado exitosamente!</h1>
    <p>La confirmacion del pedido fue enviada a {{ form.cleaned_data.to}}.</p>
    <a href="{% url 'mystore:order_share' order.id %}" class="btn btn-primary">enviar email</a>
{% else %}
    <h1>Enviar confirmacion del pedido: "{{ order.id }}"</h1>
    <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Enviar e-mail">
    </form>
{% endif %}
{% endblock %}l>